* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background: linear-gradient(to right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)), url(../images/book-stacks.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.row {
	margin-left: -5px;
	margin-right: -5px;
}

.add-container  [class^="track-"],
.update-container [class^="track-"] {
	margin-bottom: 0;
}

.books-container {
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.4);

	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5), 0 5px 10px rgba(0, 0, 0, 0.3), 
	            5px 0 10px rgba(0, 0, 0, 0.3), -5px 0 10px rgba(0, 0, 0, 0.3);
}

.header {
	display: flex;
	flex-direction: column;
}

.header__text {
	color: #fff;
	margin-bottom: 30px;
	font-weight: bold;
	letter-spacing: 2px;
	transition: .2s;
}

.kwonsonian {
	color: steelblue;
	transition: .2s;
}

.header__text:hover,
.header__text:hover .kwonsonian {
	color: steelblue;
}

/**********************************
			CONTAINERS
**********************************/
.add-container,
.update-container {
	width: 95%;
	max-width: 500px;
	top: 10px;
	transform: translateX(-50%);
	padding: 15px;
}

.add-container,
.remove-container,
.update-container {
	position: absolute;
	left: 50%;
	color: #fff;
	z-index: 3;
	border-radius: 5px;
	text-align: center;
	border: 15px solid #fff;
	transition: .3s;
}

.remove-container {
	top: 30%;
	transform: translate(-50%, -50%);
	padding: 20px 30px;
}

/**********************************
	ACTION CONTAINER TYPOGRAPHY
***********************************/
.action__header {
	font-weight: bold;
	font-size: 42px;
	margin-bottom: 10px;
	letter-spacing: 2px;
	color: linen;
	text-decoration: underline;
}

.action__text {
	letter-spacing: 1px;
	padding: 10px 0 30px 0;
	font-size: 32px;
	font-weight: bold;
	line-height: 40px;
}

/**********************************
			ADD BOOK
**********************************/
.btn:focus {
	outline: none;
}

.btn:hover {
	transform: unset;
}

.add-book-bar {
	position: relative;
	padding: 20px 0;
}

.form {
	padding: 0;
}

.btn-form {
	width: 100%;
	padding: 20px;
	font-size: 20px;
	letter-spacing: 2px;
}

.btn-form:hover {
	box-shadow: unset;
}

.remove-container .btn-form {
	padding: 15px;
}

.input-box {
	margin-bottom: 0;
	padding: 5px 12px;
}

.form-input {
	margin-bottom: 5px;
}

.radio-label {
	display: block;
	font-size: 20px;
	letter-spacing: 3px;
}

.radio-label:first-child {
	position: relative;
	left: -24px;
}

[type="radio"] {
	width: unset;
}

.btn-add {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	width: 100%;
	padding: 15px 20px;
	background-color: transparent;
	border-radius: 5px;
	border: 7px solid #fff;
	transition: .2s;
}

.btn-add:hover {
	background-color: steelblue;
	border: 7px solid transparent;
}

.add-container textarea,
.update-container textarea {
	margin-bottom: 25px;
}

.form {
	border: unset;
}

.x {
	float: left;
	padding: 5px;
}

.x:hover {
	cursor: pointer;
}

/**********************************
			BOOK CARD
***********************************/

.book {
	border-radius: 3px;
	border: 1px solid lightgray;
	padding: 15px;
	color: lightgray;
}

.book:hover .title {
	color: steelblue;
}

.title {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	margin-bottom: 25px;
	line-height: 33px;
	transition: .2s;
}

.pages {
	float: right;
	font-size: 11px;
}

.author {
	color: #fff;
	text-decoration: underline;
	text-transform: uppercase;
}

.read {
	width: 100px;
	font-size: 13px;
	text-transform: uppercase;
}

.synopsis {
	font-size: 14px;
}

.fa-ellipsis-h {
	float: right;
}

.fa-ellipsis-h:hover {
	cursor: pointer;
}

.extra-info-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 5px;
}

.menu-box {
	position: relative;
	width: 200px;
}

.menu {
	position: absolute;
	background-color: steelblue;
	top: 50%;
	right: 0;
	height: 0;
	overflow: hidden;
	transition: height .2s;
}

.menu-show {
	height: 75px;
}

.nav-link {
	color: #fff;
	text-align: right;
}

.nav-link:hover {
	cursor: pointer;
}

.nav-item:hover {
	background-color: unset;
}

/*****************************
		REMOVE BOOK
*****************************/
.remove__text {
	margin-bottom: 40px;
}

/*****************************
		BLUR SCREEN
*****************************/
.screen {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

/******************************
		HELPER CLASSES
******************************/
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.hidden {
	display: none;
}

.blur {
	filter: blur(2px);
}

/******************************
		MEDIA QUERIES
******************************/
@media only screen and (min-width: 768px) {
	.title {
		text-align: left;
	}

	.header {
		flex-direction: row;
		justify-content: space-between;
	}

	.header__text {
		margin-bottom: 0;
	}

	.btn-add {
		width: 300px;
	}
}